body
  background-color: white
#perfbar-mini
  font-size: 10px
  font-family: "Verdana", sans-serif
  
  .metrics
    display: flex
    background-color: #333
    
    > div
      padding: 0.5em
    
  .metric 
    color: white
    
    > .number
      padding: 2px 4px
      border-radius: 4px
    
  .pass
    background-color: green;
    
  .fail
    background-color: red;
        